main{
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper{
    @include wrapper;

    h2{
      padding: 20px;
      font-family: $headerNav;
      color: $mainColor;
      font-size: 35px;
    }

    .main-list{
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      .layover{
        position: relative;

        .layover-icon{
          width: calc(100% - 40px);
          height: calc(100% - 40px);
          position: absolute;
          top: 20px;
          left: 20px;
        }

        &:hover .layover-icon{
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      h3, .icona{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
      }

      & img{
        width: 500px;
        margin: 20px;
      }

      h3{

        a{
          text-decoration: none;
          color: red;
          text-transform: uppercase;
        }
      }

      .icona{
        width: 20px;
      }
    }
  }
}
