main{
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper{
    @include wrapper;

    h2{
      padding: 20px;
      font-family: $headerNav;
      color: $mainColor;
      font-size: 35px;
    }

    .main-list{
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      & img{
        width: 500px;
        margin: 20px;
      }
    }
  }
}
